
body {
  background-image: url('./images/doodles.png');
  background-attachment: fixed;
}
.configs {
  li {
    margin: 15px 0px;
  }
}

.post-container {
  background: #fff;
  padding: 2rem 1rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  .card {
    box-shadow: none!important;
    border-bottom: 1px solid #d4d4d5!important
  }
}

::-webkit-scrollbar-thumb:active {
  background-color: #aaa;
  border-width: 2px;
}

::-webkit-scrollbar-thumb {
  min-height: 2rem;
  background: #d2d2d2;
  background-clip: padding-box;
  border: 3px solid rgba(51, 51, 51, 0);
  border-radius: 5px;
}
-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
